<div id="<%= dom_id message %>" class="msg-user-<%= message.user.id %> message_badge">
  <div>
    <span class="" id="" >
      <%= message.user.username %>
    </span>

    <%= message.body %>

  </div>
</div>
