<div id="<%= dom_id category %>">
  <p class="btn btn-outline-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    <%= category.name %>
  </p>

  <%# TODO: add the link to all article with this category %>
</div>
